name: CI-CD
on: [push, pull_request]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'  # Или 3.8, как у вас было

      - name: Install dependencies and run tests
        working-directory: Credit_Scoring_MLOps  # <-- ДОБАВЬТЕ ЭТУ СТРОКУ!
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest
          
